<section class="content-card">
	<div class="f-item-group" id="button">
		<div class="f-item-heading-group" data-f-toggle="labels">
			<h2 class="f-item-heading">Button</h2>
			{% include '../layout/item-control.html' %}
		</div>
	  <div class="f-item-notes" data-f-toggle="notes">
		   <p>These are notes associated with this <code>button</code> component.</p>
	   </div>

	  <div class="f-item-preview">
	  	<button class="button">Submit</button>
	  </div>
	  <div class="f-item-code" data-f-toggle="code">
	  	<pre><code class="language-markup">
				&lt;button class&#x3D;&quot;button&quot;&gt;Submit&lt;/button&gt;</code></pre>
	  </div>

	</div>
</section>
