<section class="content-card">
  <div class="f-item-group" id="colors">
    <div class="f-item-heading-group" data-f-toggle="labels">
      <h2 class="f-item-heading">Colors</h2>
			{% include '../layout/item-control.html' %}
    </div>
		<div class="f-item-notes" data-f-toggle="notes">
			 <p>color notes</p>
		 </div>
	 <div class="f-item-preview">
			<div class="f-color-chips">
				<div class="f-color-chip" style="border-top-color: rgb(30, 30, 30); border-bottom-color: rgb(30, 30, 30);">
					<div class="f-color-chip__name">Dark</div>
					<div class="f-color-chip__color">rgb(30, 30, 30)</div>
				</div>
				<div class="f-color-chip" style="border-top-color: rgb(242, 242, 242); border-bottom-color: rgb(242, 242, 242);">
					<div class="f-color-chip__name">Light</div>
					<div class="f-color-chip__color">rgb(242, 242, 242)</div>
				</div>
			</div>
			<div class="f-color-chips">
				<div class="f-color-chip" style="border-top-color: rgb(201, 55, 6); border-bottom-color: rgb(201, 55, 6);">
					<div class="f-color-chip__name">Red</div>
					<div class="f-color-chip__color">rgb(201, 55, 6)</div>
				</div>
				<div class="f-color-chip" style="border-top-color: rgb(252, 207, 80); border-bottom-color: rgb(252, 207, 80);">
					<div class="f-color-chip__name">Yellow</div>
					<div class="f-color-chip__color">rgb(252, 207, 80)</div>
				</div>
				<div class="f-color-chip" style="border-top-color: rgb(39, 102, 143); border-bottom-color: rgb(39, 102, 143);">
					<div class="f-color-chip__name">Blue</div>
					<div class="f-color-chip__color">rgb(39, 102, 143)</div>
				</div>
			</div>
		</div>
		<div class="f-item-code" data-f-toggle="code">
			<pre><code class="language-markup">
				&lt;div class=&quot;f-color-chips&quot;&gt;
					&lt;div class=&quot;f-color-chip&quot; style=&quot;border-top-color: rgb(30, 30, 30); border-bottom-color: rgb(30, 30, 30);&quot;&gt;
						&lt;div class=&quot;f-color-chip__name&quot;&gt;Dark&lt;/div&gt;
						&lt;div class=&quot;f-color-chip__color&quot;&gt;rgb(30, 30, 30)&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;f-color-chip&quot; style=&quot;border-top-color: rgb(242, 242, 242); border-bottom-color: rgb(242, 242, 242);&quot;&gt;
						&lt;div class=&quot;f-color-chip__name&quot;&gt;Light&lt;/div&gt;
						&lt;div class=&quot;f-color-chip__color&quot;&gt;rgb(242, 242, 242)&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;f-color-chips&quot;&gt;
					&lt;div class=&quot;f-color-chip&quot; style=&quot;border-top-color: rgb(201, 55, 6); border-bottom-color: rgb(201, 55, 6);&quot;&gt;
						&lt;div class=&quot;f-color-chip__name&quot;&gt;Red&lt;/div&gt;
						&lt;div class=&quot;f-color-chip__color&quot;&gt;rgb(201, 55, 6)&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;f-color-chip&quot; style=&quot;border-top-color: rgb(252, 207, 80); border-bottom-color: rgb(252, 207, 80);&quot;&gt;
						&lt;div class=&quot;f-color-chip__name&quot;&gt;Yellow&lt;/div&gt;
						&lt;div class=&quot;f-color-chip__color&quot;&gt;rgb(252, 207, 80)&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;f-color-chip&quot; style=&quot;border-top-color: rgb(39, 102, 143); border-bottom-color: rgb(39, 102, 143);&quot;&gt;
						&lt;div class=&quot;f-color-chip__name&quot;&gt;Blue&lt;/div&gt;
						&lt;div class=&quot;f-color-chip__color&quot;&gt;rgb(39, 102, 143)&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;</code></pre>
		</div>
	</div>
</section>
