<section class="content-card">
	<div class="f-item-group" id="icons">

		<div class="f-item-heading-group" data-f-toggle="labels">
			<h2 class="f-item-heading">Icons</h2>

			{% include '../layout/item-control.html' %}

		</div>

		<div class="f-item-notes" data-f-toggle="notes">
			<p>These are notes associated with this <code>icon</code> component.</p>
		</div>
		<div class="f-item-code" data-f-toggle="code">
			<pre><code class="language-markup">
					test
			</code></pre>
		</div>

	</div>
</section>
