{% extends 'base.html' %}

{% block content %}
{% include 'layout/header.html' %}
{% include 'layout/control-bar.html' %}
{% include 'layout/menu.html' %}

  <div class="f-container sg-landing">
    <div class="sg-landing__hero row">
      <div class="col-md-12 sg-landing__item">
        <h1 class="sg-landing__item--heading">HTML STYLE GUIDE</h1>
      </div>
    </div>
    <div class="container sg-landing__overview">
      <div class="row">
        <div class="col-sm-6 col-6 sg-landing__overview--item"><a href="styles.html" class="">STYLES</a></div>
        <div class="col-sm-6 col-6 sg-landing__overview--item"><a href="form.html" class="">FORM</a></div>
        <div class="col-sm-6 col-6 sg-landing__overview--item"></div>
      </div>
    </div>

  </div>

{% endblock %}
