{% extends 'base.html' %}

{% block content %}

<section class="calculator">
	<div class="calculator__intro">
		<h1 class="calculator__intro--title">金融计算器</h1>
		<p class="calculator__intro--desc">
			金融计算器可以帮助您找到合适的金融方案。
		</p>
	</div>
	<div class="calculator__content">
		<p class="calculator__content--title">
			请在下拉选项中选择您所钟意的车型。
		</p>
		<div class="calculator__container">
			<div class="calculator__wrapper">

				<div data-component="calculator"
						 data-url="/data/calculator"
						 data-currency="¥">
					<div data-url="/data/calculator"
							 data-component="series-selector"
							 data-to="subSeries"
							 data-type="series"
							 data-texts='{
                   "select": "请选择车系"
                }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-url="/data/calculator"
							 data-type="subSeries"
							 data-to="model"
							 data-from="subSeries"
							 data-component="series-selector"
							 data-texts='{
                  "select": "请选择车型"
               }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-url="/data/calculator"
							 data-type="model"
							 data-to=""
							 data-from="model"
							 data-component="series-selector"
							 data-texts='{
                      "select": "请选择型号"
                   }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>

					<hr/>
					<div class="calculator__cars">
						<p class="calculator__cars--title">
							市场指导价
						</p>
						<div class="calculator__cars--price" cars-price></div>
						<div class="calculator__cars--image" cars-image></div>
						<div class="calculator__cars--serires" cars-series></div>
						<div class="calculator__cars--type" cars-type></div>
						<div class="calculator__cars--model" cars-model></div>
					</div>
					<hr/>
					<div data-url="/data/calculator"
							 data-type="loans"
							 data-to=""
							 data-from=""
							 data-note=true
							 data-component="series-selector"
							 data-texts='{
                      "select": "贷款计划"
                   }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
						<div class="calculator__note" calcultor-note>
							贷款说明
						</div>
					</div>
					<div class="calculator__downPayment" down-payment>
						月供
						<div>¥6,389.66</div>
					</div>

					<div data-url="/data/calculator"
							 data-type="terms"
							 data-to=""
							 data-from=""
							 data-note=""
							 data-component="series-selector"
							 data-texts='{
                      "select": "贷款期限"
                   }'
							 model-select class="calculator__left">
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-url="/data/calculator"
							 data-type="downpayment"
							 data-to=""
							 data-from=""
							 data-note=""
							 data-component="series-selector"
							 data-texts='{
                      "select": "首付比例"
                   }'
							 model-select class="calculator__left">
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="calculator__result" down-payment>
						首付
						<div>¥55,200.00</div>
					</div>
					<div class="calculator__result" monthly-payment>
						月供
						<div>¥6,389.66</div>
					</div>
					<div class="calculator__result" final-payment>
						弹性尾款
						<div>¥0.00</div>
					</div>
					<div class="calculator__result" apr-rate>
						利率
						<div>5.88%</div>
					</div>
					<div class="calculator__result calculator__insurance">
						保险
						<i class="icon-info">
							 <span>
						      <em>&nbsp;*保险：机动车保险费用亦可加入月供增容计划进行分期贷款（以下车型的非标准贷款产品除外：全新BMW 5系四门轿车、BMW 6系、创新BMW 6系GT、BMW 7系、BMW X5、BMW X6、所有BMW M车型），详情请咨询BMW授权经销商。</em>
              </span>
						</i>
					</div>
					<div class="calculator__result" monthly-payment-second>

					</div>
					<div class="calculator__result" purchase-tax>

					</div>
				</div>
				<hr/>
				<a href="javascript:" class="calculator__btn">咨询销售信息</a>
				<div class="calculator__clear">清空筛选条件</div>
			</div>
			<div class="calculator__wrapper">

				<div data-component="calculator"
						 data-url="/data/calculator"
						 data-currency="¥">
					<div data-url="/data/calculator"
							 data-component="series-selector"
							 data-to="subSeries1"
							 data-type="series"
							 data-texts='{
                   "select": "请选择车系"
                }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-url="/data/calculator"
							 data-type="subSeries"
							 data-to="model1"
							 data-from="subSeries1"
							 data-component="series-selector"
							 data-texts='{
                  "select": "请选择车型"
               }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-url="/data/calculator"
							 data-type="model"
							 data-to=""
							 data-from="model1"
							 data-component="series-selector"
							 data-texts='{
                      "select": "请选择型号"
                   }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>

					<hr/>
					<div class="calculator__cars">
						<p class="calculator__cars--title">
							市场指导价
						</p>
						<div class="calculator__cars--price" cars-price></div>
						<div class="calculator__cars--image" cars-image></div>
						<div class="calculator__cars--serires" cars-series></div>
						<div class="calculator__cars--type" cars-type></div>
						<div class="calculator__cars--model" cars-model></div>
					</div>
					<hr/>
					<div data-url="/data/calculator"
							 data-type="loans"
							 data-to=""
							 data-from=""
							 data-note=true
							 data-component="series-selector"
							 data-texts='{
                      "select": "贷款计划"
                   }'
							 model-select>
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
						<div class="calculator__note" calcultor-note>
							贷款说明
						</div>
					</div>
					<div class="calculator__downPayment" down-payment>
						第一年月供
						<div>¥9,112.61</div>
					</div>

					<div data-url="/data/calculator"
							 data-type="terms"
							 data-to=""
							 data-from=""
							 data-note=""
							 data-component="series-selector"
							 data-texts='{
                      "select": "贷款期限"
                   }'
							 model-select class="calculator__left">
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-url="/data/calculator"
							 data-type="downpayment"
							 data-to=""
							 data-from=""
							 data-note=""
							 data-component="series-selector"
							 data-texts='{
                      "select": "首付比例"
                   }'
							 model-select class="calculator__left">
						<div class="modelselect">
							<div class="modelselect__selector">
								<div class="modelselect__selector-input">
									<div class="dropdown dropdown-cars" model-select-wrap>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="calculator__result" down-payment>
						首付
						<div>¥9,112.61</div>
					</div>
					<div class="calculator__result" monthly-payment-first>
						第一年月供
						<div>¥62,580.00</div>
					</div>
					<div class="calculator__result" monthly-payment-second>
						第二年月供
						<div>¥62,580.00</div>
					</div>
					<div class="calculator__result" monthly-payment-third>
						第三年月供
						<div>¥7,381.21</div>
					</div>
					<div class="calculator__result  calculator__insurance">
						保险
						<i class="icon-info">
               <span>
						      <em>&nbsp;*保险：机动车保险费用亦可加入月供增容计划进行分期贷款（以下车型的非标准贷款产品除外：全新BMW 5系四门轿车、BMW 6系、创新BMW 6系GT、BMW 7系、BMW X5、BMW X6、所有BMW M车型），详情请咨询BMW授权经销商。</em>
              </span>
						</i>
					</div>
					<div class="calculator__result" apr-rate>
						利率
						<div>5.88%</div>
					</div>
					<div class="calculator__result" purchase-tax>
						含购置税<i class="icon-info">
							 <span>
						      <em>&nbsp;&nbsp;*购置税：车辆购置税的计算公式为购置税＝购车款/(1+16%)×购置税率。根据相关政策规定, 自2018年1月1日起，车辆购置税将恢复按照10%的法定税率征收。</em>
              </span>
						</i>
						<i class="icon-radio-checked"></i>
						<div>¥26,744.00</div>
						<span>购置税金额</span>
					</div>
					<hr/>
					<a href="javascript:" class="calculator__btn">咨询销售信息</a>
					<div class="calculator__clear" btn-clear>清空筛选条件</div>
				</div>

			</div>
		</div>
	</div>
</section>

{% endblock %}
