<section class="content-card">
	<div class="f-item-group" id="button">
		<div class="f-item-heading-group" data-f-toggle="labels">
			<h2 class="f-item-heading">Button</h2>
		</div>
	  <div class="f-item-notes" data-f-toggle="notes">
		   <p>These are notes associated with this <code>button</code> component.</p>
	   </div>

	  <div class="f-item-preview">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 sg-btn-cl col-12">
						<a href="#" class="button button_primary button--large">了解更多</a>
					</div>
					<div class="col-md-4 sg-btn-cl col-12 sg__m--hidden">
						<a href="#" class="button button_primary button--medium">了解更多</a>
					</div>
					<div class="col-md-4 sg-btn-cl col-12">
						<a href="#" class="button button_primary button--small">了解更多</a>
					</div>
				</div>
			</div>
			<div class="f-item-code">
				<pre class="sg__m--hidden"><code class="language-markup">
					&lt;a href=&quot;#&quot; class=&quot;button button__primary button--large&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button__primary button--medium&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button__primary button--small&quot;&gt;了解更多&lt;/a&gt;</code></pre>
				<pre class=""><code class="language-markup">
					&lt;a href=&quot;#&quot; class=&quot;button button__primary button--large&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button__primary button--small&quot;&gt;了解更多&lt;/a&gt;</code></pre>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 sg-btn-cl col-12">
						<a href="#" target="_blank" class="button button_secondary button--large">了解更多</a>
					</div>
					<div class="col-md-4 sg-btn-cl col-12 sg__m--hidden">
						<a href="#" target="_blank" class="button button_secondary button--medium">了解更多</a>
					</div>
					<div class="col-md-4 sg-btn-cl col-12">
						<a href="#" target="_blank" class="button button_secondary button--small">了解更多</a>
					</div>
				</div>
			</div>
			<div class="f-item-code" data-f-toggle="code">
				<pre class="sg__m--hidden"><code class="language-markup">
					&lt;a href=&quot;#&quot; class=&quot;button button_secondary button--large&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button_secondary button--medium&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button_secondary button--small&quot;&gt;了解更多&lt;/a&gt;</code></pre>
				<pre class="sg__d--hidden"><code class="language-markup">
					&lt;a href=&quot;#&quot; class=&quot;button button_secondary button--large&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button_secondary button--small&quot;&gt;了解更多&lt;/a&gt;</code></pre>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 sg-btn-cl col-12">
						<a href="#" class="button button--wide  button_amg button--large">了解更多</a>
					</div>
					<div class="col-md-4 sg-btn-cl col-12 sg__m--hidden">
						<a href="#" class="button button--wide  button_amg button--medium">了解更多</a>
					</div>
					<div class="col-md-4 sg-btn-cl col-6">
						<a href="#" class="button button--wide  button_amg button--small">了解更多</a>
					</div>
				</div>
			</div>
			<div class="f-item-code" data-f-toggle="code">
				<pre class="sg__m--hidden"><code class="language-markup">
					&lt;a href=&quot;#&quot; class=&quot;button button_amg button--large&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button_amg button--medium&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button_amg button--small&quot;&gt;了解更多&lt;/a&gt;</code></pre>
				<pre class="sg__d--hidden"><code class="language-markup">
					&lt;a href=&quot;#&quot; class=&quot;button button_amg button--large&quot;&gt;了解更多&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;button button_amg button--small&quot;&gt;了解更多&lt;/a&gt;</code></pre>
			</div>
			<div class="container-fluid">
				<div class="row"><h3 class="f-item-pre-heading">Alternative button</h3></div>
				<div class="row">
					<div class="col-md-12 col-12">
						<div class="sg__link--square">
							<a href="#" class="text-btn">了解更多</a>
							<a href="#" class="text-btn text-btn-white">了解更多</a>
						</div>
					</div>
				</div>
	  </div>

		<div class="f-item-code" data-f-toggle="code">
			<pre><code class="language-markup">
				&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;了解更多&lt;/a&gt;
				&lt;a href=&quot;#&quot; class=&quot;text-btn text-btn-white&quot;&gt;了解更多&lt;/a&gt;</code></pre>
		</div>

	</div>
</section>
