<section class="content-card">
  <div class="f-item-group" id="colors">
    <div class="f-item-heading-group" data-f-toggle="labels">
      <h2 class="f-item-heading">Colors</h2>
    </div>
		<div class="f-item-notes" data-f-toggle="notes">
			 <p> All of these colors are available as SASS variables which should save you time when creating your application.</p>
		 </div>
	 <div class="f-item-preview">
      <h3 class="f-item-pre-heading">Main Colors</h3>
			<div class="f-color-chips">
        <div class="f-color-chip">
          <div class="f-color-chip__square f-color-chip__border-gray"></div>
          <div class="f-color-chip__name">$white</div>
          <div class="f-color-chip__color">#FFFFFF</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$dusty-gray</div>
          <div class="f-color-chip__color">#999999</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$dove-gray</div>
          <div class="f-color-chip__color">#666666</div>
        </div>
				<div class="f-color-chip">
          <div class="f-color-chip__square"></div>
					<div class="f-color-chip__name">$mine-shaft</div>
					<div class="f-color-chip__color">#333333</div>
				</div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$blitz</div>
          <div class="f-color-chip__color">#222222</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$global-blue / $denim</div>
          <div class="f-color-chip__color">#00ADEF</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$guardsman-red</div>
          <div class="f-color-chip__color">#cc0000</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$dark</div>
          <div class="f-color-chip__color">#000000</div>
        </div>
			</div>
      <h3 class="f-item-pre-heading">Hover Colors</h3>
      <div class="f-color-chips">
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$denim-model</div>
          <div class="f-color-chip__color">#176DB7</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$dark-red</div>
          <div class="f-color-chip__color">#9F0002</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$mine-shaft</div>
          <div class="f-color-chip__color">#333333</div>
        </div>
			</div>
      <h3 class="f-item-pre-heading">Other Colors</h3>
      <div class="f-color-chips">
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$seashell</div>
          <div class="f-color-chip__color">#F1F1F1</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$mercury</div>
          <div class="f-color-chip__color">#E1E1E1</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$line-gray</div>
          <div class="f-color-chip__color">#CCCCCC</div>
        </div>
        <div class="f-color-chip">
          <div class="f-color-chip__square"></div>
          <div class="f-color-chip__name">$silver-lighter</div>
          <div class="f-color-chip__color">#AAAAAA</div>
        </div>
			</div>
		</div>
		<div class="f-item-code" data-f-toggle="code">

		</div>
	</div>
</section>
