<section class="content-card">
	<div class="f-item-group" id="icons">

		<div class="f-item-heading-group" data-f-toggle="labels">
			<h2 class="f-item-heading">Icons</h2>

		</div>

		<div class="f-item-notes" data-f-toggle="notes">
			<p>All Icons are included in one icon font for easy usage. Apply class <code>ec-[icon-name]</code> or <code>icon-[icon-name]</code> to use. Adjust the font size to make icons bigger or smaller.</p>
		</div>
		<div class="f-item-preview">
			<div class="container-fluid">
				<div class="row">
				  <div class="col-sm-2 sg-icon-cl col-4"><i class="ec-alert"></i><span>ec-alert</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-arrow-down"></i><span>ec-arrow-down</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-arrow"></i><span>ec-arrow</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-booking-car"></i><span>ec-arrow</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-caret-down"></i><span>ec-caret-down</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-caret-right"></i><span>ec-caret-right</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-cart"></i><span>ec-cart</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-booking-car"></i><span>ec-arrow</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-check_circle"></i><span>ec-check_circle</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-checked"></i><span>ec-checked</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-close"></i><span>ec-close</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-cross"></i><span>ec-cross</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-customer-service"></i><span>ec-customer-service</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-delete"></i><span>ec-delete</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-drag-bothway"></i><span>ec-drag-bothway</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-earphone"></i><span>ec-earphone</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-edit"></i><span>ec-edit</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-financial-solution"></i><span>ec-financial-solution</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-gyro"></i><span>ec-gyro</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-id-card"></i><span>ec-id-card</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-info"></i><span>ec-info</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-left-arrow"></i><span>ec-left-arrow</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-location"></i><span>ec-location</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-lock"></i><span>ec-lock</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-marketing-campaign"></i><span>ec-marketing-campaign</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-menu"></i><span>ec-menu</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-person"></i><span>ec-person</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-play"></i><span>ec-play</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-portrait"></i><span>ec-portrait</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-right-arrow"></i><span>ec-right-arrow</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-person"></i><span>ec-rotate</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-shutdown"></i><span>ec-shutdown</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-slide-down-arrow"></i><span>ec-slide-down-arrow</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-star"></i><span>ec-star</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-tel"></i><span>ec-tel</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-top"></i><span>ec-top</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-triangle-down"></i><span>ec-triangle-down</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-user"></i><span>ec-user</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="ec-vr"></i><span>ec-vr</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-expand"></i><span>icon-expand</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-minimize"></i><span>icon-minimize</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-about"></i><span>icon-about</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-community"></i><span>icon-community</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-other-sites"></i><span>icon-other-sites</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-press-release"></i><span>icon-press-release</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-dragtorotate"></i><span>icon-dragtorotate</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-zoomin"></i><span>icon-zoomin</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-zoomout"></i><span>icon-zoomout</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-careers"></i><span>icon-careers</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-check"></i><span>icon-check</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-warning"></i><span>icon-warning</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-mb-dealer-location"></i><span>icon-mb-dealer-location</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-mb-collision-center"></i><span>icon-mb-collision-center</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-search"></i><span>icon-search</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-car-rear"></i><span>icon-car-rear</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-right-amg"></i><span>icon-caret-right-amg</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-acceleration"></i><span>icon-acceleration</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-arrow-down-square"></i><span>icon-arrow-down-square</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-arrow-left-square"></i><span>icon-arrow-left-square</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-arrow-right-square"></i><span>icon-arrow-right-square</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-arrow-up-square"></i><span>icon-arrow-up-square</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-calculator"></i><span>icon-calculator</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-download-arrow"></i><span>icon-download-arrow</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-exit"></i><span>icon-exit</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-gears"></i><span>icon-gears</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-horsepower"></i><span>icon-horsepower</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-hybrid"></i><span>icon-hybrid</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-minus"></i><span>icon-minus</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-plus"></i><span>icon-plus</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-rain"></i><span>icon-rain</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-request_a_test_drive"></i><span>icon-request_a_test_drive</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-solid-circle"></i><span>icon-solid-circle</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-steering-wheel"></i><span>icon-steering-wheel</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-sun"></i><span>icon-sun</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-torque"></i><span>icon-torque</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-towing"></i><span>icon-towing</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-compare"></i><span>icon-compare</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-download"></i><span>icon-download</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-special-offers"></i><span>icon-special-offers</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-view-inventory"></i><span>icon-view-inventory</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-trade_in_value"></i><span>icon-trade_in_value</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-apply_for_credit"></i><span>icon-apply_for_credit</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-model-chooser"></i><span>icon-model-chooser</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-down-thin"></i><span>icon-caret-down-thin</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-down"></i><span>icon-caret-down</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-left-thin"></i><span>icon-caret-left-thin</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-right-thin"></i><span>icon-caret-right-thin</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-right"></i><span>icon-caret-right</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-up-thin"></i><span>icon-caret-up-thin</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-caret-up"></i><span>icon-caret-up</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-pin"></i><span>icon-pin</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-AMG_logo"></i><span>icon-AMG_logo</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-preferred-dealer"></i><span>icon-preferred-dealer</span></div>
				</div>
				<div class="row">
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-text-button-arrow"></i><span>icon-text-button-arrow</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-wechat"></i><span>icon-wechat</span></div>
					<div class="col-sm-2 sg-icon-cl col-4"><i class="icon-weibo"></i><span>icon-weibo</span></div>
				</div>
			</div>
		</div>

	</div>
</section>
