//Header specific - move out?
$header-height: 40px;
$header-height-desktop: 108px;
$subnav-width-mobile: 250px;
$subnav-height-desktop: 290px;
$subnav-height-desktop-with-model: 320px;
$subnav-vehicle-height-desktop: 310px;
$subnav-vehicle-height-desktop-with-models: 340px;
$subnav-card-width: 150px;
$subnav-vehicle-container-height: 225px;
$subnav-vehicle-container-height-with-models: 268px;