$icomoon-font-family: "cn-icons";
$icomoon-font-path: $fonts-path !default;

$icon-expand: "\e93d";
$icon-minimize: "\e93e";
$icon-about: "\e939";
$icon-community: "\e93a";
$icon-other-sites: "\e93b";
$icon-press-release: "\e93c";
$icon-dragtorotate: "\e936";
$icon-zoomin: "\e937";
$icon-zoomout: "\e938";
$icon-careers: "\e935";
$icon-check: "\e934";
$icon-warning: "\e932";
$icon-mb-dealer-location: "\e92d";
$icon-mb-collision-center: "\e92f";
$icon-search: "\e909";
$icon-car-rear: "\e92e";
$icon-caret-right-amg: "\e92b";
$icon-acceleration: "\e900";
$icon-arrow-down-square: "\e913";
$icon-arrow-left-square: "\e915";
$icon-arrow-right-square: "\e91a";
$icon-arrow-up-square: "\e91b";
$icon-calculator: "\e91c";
$icon-download-arrow: "\e91d";
$icon-exit: "\e91e";
$icon-gears: "\e91f";
$icon-horsepower: "\e920";
$icon-hybrid: "\e921";
$icon-minus: "\e922";
$icon-plus: "\e923";
$icon-rain: "\e924";
$icon-request_a_test_drive: "\e925";
$icon-solid-circle: "\e926";
$icon-steering-wheel: "\e927";
$icon-sun: "\e928";
$icon-torque: "\e929";
$icon-towing: "\e92a";
$icon-compare: "\e916";
$icon-download: "\e917";
$icon-special-offers: "\e918";
$icon-view-inventory: "\e919";
$icon-trade_in_value: "\e901";
$icon-apply_for_credit: "\e912";
$icon-model-chooser: "\e914";
$icon-caret-down-thin: "\e902";
$icon-caret-down: "\e903";
$icon-caret-left-thin: "\e904";
$icon-caret-right-thin: "\e905";
$icon-caret-right: "\e906";
$icon-caret-up-thin: "\e907";
$icon-caret-up: "\e908";
$icon-pin: "\e90a";
$icon-AMG_logo: "\e910";
$icon-preferred-dealer: "\e933";
$icon-text-button-arrow: "\e93f";
$icon-wechat: "\e90b";
$icon-weibo: "\e90c";
$icon-arrow-action: "\e901";