$space: 5px;
$space-2: $space*2;
$space-3: $space*3;
$space-4: $space*4;
$space-5: $space*5;
$space-6: $space*6;
$space-7: $space*7;
$space-8: $space*8;
$space-10: $space*10;
$space-11: $space*11;
$space-12: $space*12;
$space-14: $space*14;
$space-16: $space*16;


// adding Percentage spaces


$percent1: 5%;
$percent2: $percent1*2;
$percent3: $percent1*3;
$percent4: $percent1*4;
$percent5: $percent1*5;
$percent6: $percent1*6;
$percent7: $percent1*7;
$percent8: $percent1*8;
$percent9: $percent1*9;
$percent10: $percent1*10;

