/* Tue May 22 2018 10:42:51 GMT+0800 (CST) */
/* global variable */
/* global mixin and function */
/* third party */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #202020;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #202020;
  background-color: #5f5f5f; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #5f5f5f;
  text-decoration: none;
  outline: 0;
  background-color: #428bca; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #a3a3a3; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #b7b7b7;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }

/* module */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 10px;
  height: 100%; }

body {
  font-family: Arial, "Microsoft YaHei"; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../../fonts/icomoon/icon.eot");
  src: url("../../../../fonts/icomoon/icon.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon/icon.ttf") format("truetype"), url("../../../../fonts/icomoon/icon.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  position: relative;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Next:before {
  content: "\e93b"; }

.icon-Open:before {
  content: "\e93e"; }

.icon-info:before {
  content: "\ea0c"; }

.icon-radio-checked:before {
  content: "\ea54"; }

.icon-radio-unchecked:before {
  content: "\ea56"; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input, select {
  vertical-align: middle; }

/* css components */
.calculator {
  background: #ffffff;
  margin: 5rem auto;
  width: 100%;
  max-width: 768px; }
  .calculator__intro {
    margin: 0 auto;
    text-align: center; }
    .calculator__intro--title {
      color: #444444;
      font-size: 4rem;
      line-height: 5rem;
      letter-spacing: .2rem; }
    .calculator__intro--desc {
      color: #333333;
      font-size: 1.5rem;
      line-height: 2.4rem;
      max-width: 20rem;
      margin: 0 auto; }
  .calculator__content {
    margin: 2rem auto;
    text-align: center; }
    .calculator__content--title {
      margin: 1rem auto;
      max-width: 21rem;
      color: #444444;
      font-weight: bold;
      font-size: 2rem;
      line-height: 3.2rem;
      letter-spacing: .2rem; }
  .calculator .calculator__container {
    display: flex; }
  .calculator .calculator__wrapper {
    width: 50%;
    text-align: center; }
  .calculator [data-component="series-selector"] {
    display: block;
    min-width: 13rem;
    max-width: 16rem;
    margin: 1rem auto;
    min-height: 5rem; }
  .calculator hr {
    margin: 4rem auto;
    width: 80%; }
  .calculator__cars {
    margin: 1rem auto 0;
    color: #444444; }
    .calculator__cars--title {
      font-size: 1.5rem;
      line-height: 2.4rem;
      color: #444444;
      margin-bottom: .5rem; }
    .calculator__cars--price {
      font-size: 3rem;
      line-height: 3.6rem;
      height: 3.6rem; }
    .calculator__cars--image {
      width: 90%;
      margin: 1rem auto; }
      .calculator__cars--image img {
        width: 100%; }
    .calculator__cars--serires, .calculator__cars--model, .calculator__cars--type {
      font-size: 1.8rem;
      line-height: 2rem;
      margin-top: 1rem;
      height: 3rem; }
  .calculator__note {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #666666;
    text-align: center; }
  .calculator__result {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444444;
    min-width: 13rem;
    max-width: 16rem;
    margin: 2rem auto;
    text-align: left;
    color: #333333;
    min-height: 5.6rem; }
    .calculator__result > div {
      font-size: 2.2rem;
      line-height: 2.4rem; }
    .calculator__result[purchase-tax] {
      min-height: 8rem; }
    .calculator__result.calculator__insurance {
      min-height: 1.5rem; }
    .calculator__result span {
      font-size: 1.2rem;
      position: relative;
      top: -0.5rem; }
    .calculator__result i {
      color: #0b6fff;
      position: relative;
      top: .3rem;
      left: .4rem;
      cursor: pointer; }
      .calculator__result i.icon-radio-checked {
        font-size: 1.8rem;
        left: 5rem; }
      .calculator__result i.icon-info span {
        position: absolute;
        left: -100px;
        top: 10px;
        display: block;
        overflow: hidden;
        max-height: 0;
        text-align: center;
        -webkit-transition: max-height .3s linear;
        -moz-transition: max-height .3s linear;
        -o-transition: max-height .3s linear;
        transition: max-height .3s linear;
        z-index: 2; }
        .calculator__result i.icon-info span em {
          position: relative;
          display: block;
          line-height: 1.6rem;
          padding: 1rem;
          font-style: normal;
          color: #333333;
          text-shadow: 0 0 0 #ffffff;
          margin-top: 10px;
          border: 2px solid rgba(255, 255, 255, 0.9);
          background-color: #d8d8d8;
          z-index: 3;
          width: 30rem; }
      .calculator__result i.icon-info:hover {
        color: #444444;
        text-decoration: none;
        background-image: -webkit-linear-gradient(top, #dfdfdf, #ededed);
        background-image: -moz-linear-gradient(top, #dfdfdf, #ededed);
        background-image: -o-linear-gradient(top, #dfdfdf, #ededed);
        background-image: linear-gradient(top, #dfdfdf, #ededed); }
        .calculator__result i.icon-info:hover span {
          max-height: 14rem; }
  .calculator__downPayment {
    margin: 3rem auto;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem; }
    .calculator__downPayment > div {
      font-size: 2.6rem;
      line-height: 3rem; }
  .calculator__left {
    margin: 2rem 0; }
    .calculator__left .modelselect__selector .dropdown-cars {
      text-align: left; }
      .calculator__left .modelselect__selector .dropdown-cars .btn-select, .calculator__left .modelselect__selector .dropdown-cars .list-cars li.modelselect--header, .calculator__left .modelselect__selector .dropdown-cars .list-cars li.list-cars-item {
        text-align: left; }
      .calculator__left .modelselect__selector .dropdown-cars .btn-select.modelselect--selected {
        text-align: left; }
      .calculator__left .modelselect__selector .dropdown-cars .btn-select:after {
        position: absolute;
        left: 92%;
        top: 1rem; }
    .calculator__left .modelselect__selector .dropdown-cars.open .btn-select, .calculator__left .modelselect__selector .dropdown-cars.open .list-cars li.modelselect--header, .calculator__left .modelselect__selector .dropdown-cars.open .list-cars li.list-cars-item {
      padding-left: .5rem; }
  .calculator__btn {
    background-color: #0b6fff;
    width: 60%;
    height: 3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: .2rem 2rem;
    line-height: 3rem;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-weight: bold; }
  .calculator__clear {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666666;
    cursor: pointer; }

.modelselect {
  background-color: #ffffff;
  text-align: center;
  height: auto; }
  .modelselect__container {
    float: none;
    margin: 0 auto; }
  .modelselect__selector-input {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem; }
  .modelselect__selector {
    margin: 1rem auto;
    float: none;
    font-size: 1.6rem; }
    .modelselect__selector .dropdown-cars .btn-select, .modelselect__selector .dropdown-cars .list-cars {
      outline: none;
      border: none;
      border-radius: 0;
      padding: 0;
      width: 100%; }
    .modelselect__selector .dropdown-cars .btn-select {
      cursor: pointer;
      color: #666666;
      text-align: center;
      background-size: 1.2rem;
      position: relative; }
      .modelselect__selector .dropdown-cars .btn-select:after {
        content: "\e93e";
        font-family: 'icomoon';
        font-size: 1rem;
        position: relative;
        left: 1rem; }
      .modelselect__selector .dropdown-cars .btn-select.modelselect--selected {
        text-transform: uppercase;
        text-decoration: none;
        color: #444444;
        text-align: center; }
        .modelselect__selector .dropdown-cars .btn-select.modelselect--selected a {
          text-decoration: none;
          color: #333333; }
    .modelselect__selector .dropdown-cars .list-cars {
      overflow: auto;
      margin-top: 0;
      padding: 0;
      font-size: 1.6rem;
      text-transform: uppercase;
      z-index: 100; }
      .ios .modelselect__selector .dropdown-cars .list-cars {
        -webkit-overflow-scrolling: touch; }
      .modelselect__selector .dropdown-cars .list-cars ul {
        list-style: none;
        padding: 0;
        margin: 0; }
      .modelselect__selector .dropdown-cars .list-cars li.modelselect--header, .modelselect__selector .dropdown-cars .list-cars li.list-cars-item {
        padding: .5rem 0 .5rem;
        text-align: center; }
      .modelselect__selector .dropdown-cars .list-cars li.modelselect--header {
        font-family: inherit;
        padding-top: 2rem; }
      .modelselect__selector .dropdown-cars .list-cars li.list-cars-item {
        cursor: pointer;
        font-size: 1.4rem;
        line-height: 2rem; }
        .modelselect__selector .dropdown-cars .list-cars li.list-cars-item:hover {
          background-color: #d8d8d8; }
      .modelselect__selector .dropdown-cars .list-cars a {
        color: #000;
        text-decoration: none; }
    .modelselect__selector .dropdown-cars.open .btn-select {
      color: #000000;
      padding: .5rem 0 .5rem;
      border-bottom: 1px solid #d8d8d8; }
      .modelselect__selector .dropdown-cars.open .btn-select:after {
        font-family: 'icomoon';
        content: "\e93b";
        font-size: 1.3rem; }
    .modelselect__selector .dropdown-cars.open .list-cars, .modelselect__selector .dropdown-cars.open .btn-select {
      background-color: #f8f8f8; }
