<!DOCTYPE html>

<html lang="en_US" class="f-menu-active">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "format-detection" content = "telephone=no">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" sizes="16x16">

    <title>Style Guide</title>

    <script type="text/javascript" src="../clientlibs/template/base/js/plugins.js"></script>
    <!-- Base Theme -->
    <link href="../../clientlibs/template/base/css/base.css" rel="stylesheet">

</head>

<body class="sg-body--demo-breakpoints">
