<div class="f-menu">

  <div class="f-controls">
    <div class="f-control f-global-control" data-f-toggle-control="labels" title="Toggle Labels">
      <svg>
        <use xlink:href="#f-icon-labels" />
      </svg>
    </div>
    <div class="f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
      <svg>
        <use xlink:href="#f-icon-notes" />
      </svg>
    </div>
    <div class="f-control f-global-control" data-f-toggle-control="code" title="Toggle Code">
      <svg>
        <use xlink:href="#f-icon-code" />
      </svg>
    </div>
  </div>

  <ul>

    <li>
      <a href="./" class="f-menu__heading">Overview</a>
    </li>

    <li>
      <a href="styles.html" class="f-menu__heading">Styles</a>
      <ul>
        <li>
          <a href="styles.html#colors">Colors</a>
        </li>
        <li>
          <a href="styles.html#typography">Typography</a>
        </li>
        <li>
          <a href="styles.html#button">Button</a>
        </li>
        <li>
          <a href="styles.html#icons">Icons</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="form.html" class="f-menu__heading">Form</a>
      <ul>
        <li>
          <a href="form.html">Form</a>
        </li>
      </ul>
    </li>

  </ul>


</div>
<!-- /fabricator menu -->
