
// font
$primary-font-name : 'Arial';

// $primary-cn-font : 'PingFang SC', 'SimHei';
$primary-cn-font : 'PingFang SC','Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC','Microsoft YaHei', 'SimHei', Helvetica ,Arial;
// $hero-cn-font: 'HYZhongSongJBT';
$hero-cn-font: 'SimSun';

$secondary-font-name: 'corporateacondpro';
$default-cn-font-family : $primary-cn-font, serif;
$font-weight-light: 200;
$font-weight-book: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;


// Colors
// --------------------------------------------------

// use in style guide
$color-white               : #ffffff;
$color-grey                : #d1d1d1;
$color-light-grey          : #ededed;
$color-note-grey           : #454849;
$color-link-blue           : #26aafe;
$color-link-blue-over      : #1e87cb;
$color-primary-blue        : #00ADEF;
$color-black               : #000000;

// color palette in phase 1
$white: #fff;
$white-sand: #f6f6f6;
$white-gray: #f8f8f8;
$seashell: #f1f1f1;
$seashell-gray: #f2f2f2;
$seashell-dark: #f5f5f5;
$white-light: #eee;
$mercury: #e3e3e3;
$mercury-sand: #e1e1e1;
$alto: #dadada;
$silver: #c7c7c7;
$silver-dark: #c9c9c9;
$silver-chalice: #a1a1a1;
$silver-lighter: #aaaaaa;
$dusty-gray: #999;
$dove-gray: #666;
$scorpion: #565656;
$tundora: #444;
$mine-shaft: #333;
$asphalt: #2a2a2a;
$blitz: #222;
$black: #010101;
$dark-offer: #0e1015;
$pure-black: #000000;
$azure-radiance: #0090ff;
$global-blue:#00ADEF;
$pacific-blue: #00A6C9;
$denim:$global-blue;
$daimler-blue: #003461;
//$denim: #176db7;
$dealer-blue: $global-blue;
$cinnabar: #e23a39;
$guardsman-red: #cc0000;
$dark-red: #9f0002;
$fruit-salad: #569C53;
$line-gray:#ccc;
$box-shadow: rgba(0, 0, 0, 0.13);
$dark: #000;
$dark-shallow: #0f1015;
$alto: #d8d8d8;
$denim-model:#176db7;
$popup-mask: rgba(0, 0, 0, 0.38);
$video-mask: rgba(0, 0, 0, 0.3);
$transparent: transparent;
$gainsboro: #e6e6e6;
$white-smoke: #f2f2f2;
$charcoal: #4a4a4a;
$shady-lady: #979797;
$silver-gray: #c4c4c4;
$white-smoke-light: #f7f7f7;
$while-transparent: rgba(255, 255, 255, 0.9);
$black-russian: #18181d;
$light-grey: #c7c7c7;
$dark-grey: #9e9e9e;
$fire-brick: #b81f23;
$amg-grey: #464646;
$amg-border: #24242b;
$amg-brick: #d10411;
$amg-section-bg: #191a1d;
$dim-gray: #5f5f5f;
$shady-gray: #6e6e6e;
$error-bg-red: #ffe5e5;

$root: '../../../..';

$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$font-size-base: 14px !default;


// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-phone: 320px !default;

// Extra small screen / tablet
$screen-small-tablet: 480px !default;

// Small screen / tablet
$screen-tablet: 768px !default;

// Medium screen / desktop
$screen-desktop: 992px !default;

// Large screen / wide desktop
$screen-lg-desktop: 1440px !default;

$screen-small-tablet-max: ($screen-small-tablet - 1) !default;
$screen-mobile-max: ($screen-tablet - 1) !default;
$screen-tablet-max: ($screen-desktop - 1) !default;
