
// Colors
// --------------------------------------------------

$color-white               : #ffffff;
$color-grey                : #d1d1d1;
$color-light-grey          : #ededed;
$color-link-blue           : #26aafe;
$color-link-blue-over      : #1e87cb;
$color-primary-blue        : #00ADEF;
$color-black               : #000000;

$root: '../../../..';

$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$font-size-base: 14px !default;


// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-phone: 320px !default;

// Extra small screen / tablet
$screen-small-tablet: 480px !default;

// Small screen / tablet
$screen-tablet: 768px !default;

// Medium screen / desktop
$screen-desktop: 992px !default;

// Large screen / wide desktop
$screen-lg-desktop: 1440px !default;

$screen-small-tablet-max: ($screen-small-tablet - 1) !default;
$screen-tablet-max: ($screen-tablet - 1) !default;
$screen-desktop-max: ($screen-desktop - 1) !default;
